/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

h1 {
  @apply text-xl font-bold text-gray-700
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.btn-primary {
  @apply h-10 px-5 m-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800;
}

.ng-invalid.ng-touched,
ng-invalid.ng-dirty {
  // todo
  //@extend text-red-400
  border-color: rgba(248, 113, 113, var(--tw-text-opacity));
}

//https://stackoverflow.com/questions/36379184/html5-draggable-hide-original-element
.draggable--moving {
  transition: 0.01s;
  transform: translateX(-9999px);
}
