/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

body {
  @apply overflow-y-hidden overflow-x-hidden;
}

h1 {
  @apply text-xl font-bold text-gray-300;
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.btn-primary {
  @apply h-10 px-5 m-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800;
}

input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.card {
  @apply flex flex-col rounded-tl-2xl px-6 py-4 border-green-200 border-8 shadow-md;
}

.canvas-item, .palette-item {
  @apply pl-1 pr-2 py-2 my-1 rounded flex flex-row w-full border-green-100 border-2 bg-white;
}

.drop-zone {
  @apply text-gray-300;
}

.drop-zone.drag--over {
  @apply bg-green-100 text-white;
}

.canvas-item.active {
  @apply bg-green-200;
}

.handle {
  @apply text-gray-300 mr-0.5;
  cursor: move;
}

.title {
  @apply bg-green-200 text-white rounded-t py-0.5 px-2 self-end object-contain;
}

.title.active {
  @apply bg-green-300;
}

.ng-invalid.ng-touched,
ng-invalid.ng-dirty {
  // todo
  //@extend text-red-400
  border-color: rgba(248, 113, 113, var(--tw-text-opacity));
}

//https://stackoverflow.com/questions/36379184/html5-draggable-hide-original-element
.draggable--moving {
  transition: 0.01s;
  transform: translateX(-9999px);
}
